<!DOCTYPE html>
<html>

<head>
    <title>Waterfox Battle Core</title>
    <link href="{{url_for('static', filename = 'styles/battle.css')}}" rel="stylesheet">
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'scripts/opponent.js')}}"></script>
    <script src="{{url_for('static', filename = 'scripts/actions.js')}}"></script>
    <script src="{{url_for('static', filename = 'scripts/audio.js')}}"></script>
    <script src="{{url_for('static', filename = 'scripts/life.js')}}"></script>
    <script src="{{url_for('static', filename = 'scripts/attacks.js')}}"></script>
    <script src="{{url_for('static', filename = 'scripts/text.js')}}"></script>
</head>

<body>
    <div class="titlePopup" id="titlePopup">
        <h1 id="textPopup"></h1>
        <button onclick="hidePopup()">Let's Go</button>
    </div>
    <div class="battleScreen">
        <p class="opponentName" id="opponentName"></p>
        <div class="opponentLifebar" id="opponentLifebar">
            <p></p>
        </div>
        <div class="opponentPlace">
            <img class="opponentImage" id="opponentImage">
        </div>
        <div class="actionDiv">
            <div class="actionDescription">
                <p id="actionDescription"></p>
            </div>
            <div class="actionSelection">
                <button onclick="displayAttacks(currentPlayer, currentOpponent)">Attacks</button><button
                    onclick="displayActions(currentPlayer, currentOpponent)">Actions</button>
            </div>
        </div>
        <div class="playerLifebar" id="playerLifebar">
            <p></p>
        </div>
        <script>
            let currentPlayer;
            let currentOpponent;
            var opponentPath = '{{opponent}}';
            var playerPath = '{{player}}';
    
            initializeText('{{opponentName}}')
    

            function hidePopup() {
                document.getElementById('titlePopup').style.visibility = "hidden";
                
                $.getJSON(opponentPath,
                function (json) {
                    currentOpponent = json;
                    document.getElementById('opponentImage').src = currentOpponent.sprite
                    launchTheme(currentOpponent.theme);
                });
                $.getJSON(playerPath,
                    function (json) {
                        currentPlayer = json;
                });
            }
        </script>
    </div>

</body>

</html>