<!DOCTYPE html>
<html>

<head>
    <title>Waterfox Battle Core</title>
    <link href="{{url_for('static', filename = 'styles/battle.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'scripts/opponent.js')}}"></script>
    <script>
        var currentOpponent;
        $.getJSON('../static/data/opponent/testOpponent.json',
        function(json)
        {
            currentOpponent = json;
        });       
    </script>
</head>

<body>
    <div class="battleScreen">
        <p class="opponentName">Test Opponent</p>
        <div class="lifebar" id = "lifebar">
            <p></p>
        </div>
        <div class="opponentPlace">
            <img class="opponentImage" src="{{url_for('static', filename = 'images/testOpponent.png')}}">
        </div>
        <div class="actionDiv">
            <div class="actionSelection">
                <div class="attacks">
                    <p class="action">Attacks</p>
                </div>
                <div class="actions">
                    <p class="action">Actions</p>
                </div>
                <div class="bag">
                    <p class="action">Bag</p>
                </div>
            </div>
            <div class="actionDescription"></div>
        </div>
    </div>
</body>

</html>