<!DOCTYPE html>

<html>

<head>
    <title>Waterfox Battle Core</title>
    <link href="{{url_for('static', filename='styles/creator.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename = 'scripts/creator.js')}}"></script>
</head>

<body>
    <h1 class="creatorTitle">Opponent Creator</h1>
    <form class="creatorForm" id="creatorForm" method="POST" action="{{url_for('creator_statement')}}"  enctype = "multipart/form-data">
        <label for="nameInput">Name</label>
        <input type="text" name="nameInput" id="nameInput" class="nameInput" required>
        <br>
        <label for="fileName">Filename</label>
        <input type="text" name="fileName" id="fileName" class="nameInput" required>
        <br>
        <label for="publicCode">Public Code</label>
        <input type="text" name="publicCode" id="publicCode" class="nameInput" required>
        <br>
        <label for="lifeInput">Life</label>
        <input type="number" name="lifeInput" id="lifeInput" class="lifeInput" required>
        <br>
        <label for="defenseInput">Defense</label>
        <input type="number" name="defenseInput" id="defenseInput" class="defenseInput" required>
        <br>
        <label for="themeInput">Theme</label>
        <input type="file" name="themeInput" id="themeInput" class="themeInput" accept=".ogg" required>
        <br>
        <label for="spriteInput">Sprite</label>
        <input type="file" name="spriteInput" id="spriteInput" class="spriteInput" accept=".png" required>
        <br>
        <button class="newAttack" id="newAttack" class="newInput" name="newInput" onclick="createAttackField()">Add A New Attack</button>
        <br>
        <input type="submit" class="submitForm" value="Enregistrer">
    </form>
</body>

</html>