@import url('http://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body
{
    background-color: black;
    color: orange;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

button
{
    font-family: 'VT323', monospace;
    background-color: black;
    color: orange;
    font-size: 25px;
    border-width: 0.1px;
    border-color: orange;
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
}

.battleScreen
{
    margin-left: 25%;
    margin-right: 25%;

    border: none;
    border-color: grey;
    border-width: 0.5px;
}

.opponentName
{
    font-size: 40px;
    margin-bottom: 2%;

    text-align: center;
    
}

.opponentLifebar
{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    font-size: 15px;

    background-color: green;

    border: solid;
    border-color: grey;
    border-width: 0.5px;
}

.playerLifebar
{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;

    font-size: 15px;

    background-color: green;

    border: solid;
    border-color: grey;
    border-width: 0.5px;
}

.opponentImage
{
    width: 12%;
}

.opponentPlace
{
    text-align: center;
}

.actionDiv
{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    border: none;
    border-color: grey;
    border-width: 0.5px;
}

.actionSelection
{

    border: none;
    border-color: grey;
    border-width: 0.5px;

    text-align: center;
}

.actionDescription
{

    border: none;
    border-color: grey;
    border-width: 0.5px;

    text-align: center;
}

.titlePopup
{
    height: 100%;
    position: absolute;
    text-align: center;
    margin-left: 20%;
    background-color: black;
}