@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

body {
  background-color: black;
  color: orange;

  font-family: "VT323", monospace;
  font-size: 30px;
}

.creatorTitle {
  text-align: center;
}

.creatorForm {
    margin-left : 30%
}

.nameInput {
    border: solid;
    background-color: black;
    font-size: 25px;
    color: orange;
    font-family: "VT323", monospace;
}

.lifeInput {
    border: solid;
    background-color: black;
    font-size: 25px;
    color: orange;
    font-family: "VT323", monospace;
}

.defenseInput {
    border: solid;
    background-color: black;
    font-size: 25px;
    color: orange;
    font-family: "VT323", monospace;
}